{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REVISION LIBRARY</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<style>

    body{
 padding-top: 70px;
}

</style>
</head>
<body>
<div class="container">
<!---- navbar fixed
======================================================-->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">revision library</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                 <li class="active"><a href="/"><img src="{% static 'images/home.png' %}" width="20px" height="20px"> </a></li>
                 <li><a href="/about">about</a></li>
                 <li><a href="/faq">FAQ</a> </li>
                 <li><a href="/contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/account/login"><img src="{% static 'images/lock-1.png' %}" width="30px" height="30px"></a> </li>
                <li><a href="/account/register">register</a></li>

            </ul>

        </div>
    </div>
</div>

</div><!-------/container----->

{% block content %}
{% endblock %}
<!----bootstrap js ---->
<script href="{% static 'js/jquery-2.1.4.min.js' %}" rel="script" type="text/javascript"></script>
<script href="{% static 'js/bootstrap.js' %}" rel="script" type="text/javascript"></script>
<script href="{% static 'js/bootstrap.min.js' %}" rel="script" type="text/javascript"></script>
</body>
</html>