{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            register
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}